<article id="{{ dateFormat "#15:04" .Date }}" class="mv1{{ if .Title }} bt-0 bl-0 br-0 bb b--dashed b--navy{{ end }}">
{{ if .Title }}
    <header>
        <h3 class="f5 dark-blue lh-copy">
            {{- .Title -}}
            <a href="{{ dateFormat "/2006/01/02/#15:04" .Date }}" rel="bookmark" class="f6 link blue hover-bg-blue hover-light-gray">↩︎</a>
        </h3>
    </header>
{{ end }}
    <section class="{{ if (not .Title) }}content mv3 {{end}}nested-copy-line-height nested-links nested-img nested-list nested-list-reset">
	    {{- .Content -}}
        {{ if (not .Title) }}
        <a href="{{ dateFormat "/2006/01/02/#15:04" .Date }}" rel="bookmark" class="di f6 link blue bg-animate hover-bg-purple hover-light-gray i">⇜</a>
        {{ end }}
	</section>
</article>