 {{ define "main" }}
<main>
    <article>
        <header>
            <h2 class="f4 dark-blue mt0 lh-solid">
            {{ if eq .Title "Archives" }}
            {{ .Title }}
            {{ else }}            
            {{ $date_string := replace .Title "/" "-" }}
            <i class="bg-white dark-blue fa fa-fw fa-file-text-o" aria-hidden="true"></i> {{ dateFormat "Monday, 2 January 2006" $date_string }}
            {{ end }}
            </h2>
        </header>
        <section class="nested-copy-line-height nested-links nested-img">
                {{- .Content -}}
        </section>
    </article>
    <ul class="ma0 pa0 list">
    <!-- Ranges through content/post/*.md -->
    {{ range .Pages.ByDate.Reverse }}
        {{ .Render "li" }}
    {{ end }}
    </ul>
</main>
{{ end }}